<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621664099071-8g8n09nuo9atvc4bj8jq594eh01c3q7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621664099071-8g8n09nuo9atvc4bj8jq594eh01c3q7b</string>
	<key>API_KEY</key>
	<string>AIzaSyB7QULBv-ZP2r9cfUpxx0XDe11kSlnzVn8</string>
	<key>GCM_SENDER_ID</key>
	<string>621664099071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saitama-chat-app</string>
	<key>PROJECT_ID</key>
	<string>sample-chat-app-for-gdgcloud</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-chat-app-for-gdgcloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621664099071:ios:75e2cee3dd53d5ad784aca</string>
</dict>
</plist>